<div ng-controller="HomeCtrl" ng-init="init()">
    <h1>Home page </h1>
    <div class="row">
        <div class="col-sm-4">
            <div ng-controller="AuthCtrl">
                <h4 class="page-header">
                    Login Here
                </h4>

                <!--<div class="form-group " ng-class="!isCardValid? 'has-error has-feedback':''">-->
                    <!--<label>Credit Cart:</label>-->
                    <!--<input type="text" ng-model="creditCart" class="form-control">-->
                    <!--<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!isCardValid"></span>-->
                    <!--<span ng-show="!isCardValid" style="color:red">Card is not valid</span>-->
                <!--</div>-->


                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" ng-model="email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" ng-model="password" class="form-control">
                </div>
                <input type="button" class="btn btn-primary"  value="login">
            </div>

            <span>If u dont have an account please <a ui-sref="register">Register</a></span>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <h4 class="page-header">
                    Store Creator
                </h4>
                <div class="col-xs-12">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <img src="https://randomuser.me/api/portraits/men/83.jpg" alt=""
                                     class="img-rounded img-responsive"/>
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h4>
                                    Amir Lavi
                                </h4>
                                <small>
                                    <cite title="Ra'anana, ISR">Ra'anana, ISR
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                    </cite>
                                </small>
                                <p>
                                    <i class="glyphicon glyphicon-envelope"></i>amir.lavi2@gmail.com
                                    <br/>
                                    <i class="glyphicon glyphicon-globe"></i><a href="http://www.google.com">www.google.com</a>
                                    <br/>
                                    <i class="glyphicon glyphicon-gift"></i>June 05, 1989</p>
                                <!-- Split button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">
                                        Social
                                    </button>
                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span><span class="sr-only">Social</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="https://www.linkedin.com/in/amir-lavi-5a9a8691/">linkedin</a></li>
                                        <li><a href="https://github.com/AmirLavi2">Github</a></li>
                                        <li class="divider"></li>
                                        <li><a href="https://www.facebook.com/amir.lavi.54">Facebook</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h4 class="page-header">
                Info & Notifications
            </h4>
            <div>{{orders.length}} orders made from this online store</div>
            <div>{{products.length}} products in this store</div>
            <div ng-show="user" style="color: yellow">
                <div>Notifications <br>
                    You have open cart from {{cart.date | date:'dd/MM/yyyy HH:mm'}}
                </div>
                <br>
                Welcome Back {{user.email}}
            </div>
        </div>
    </div>
</div>
